@import "normalizez.scss"
@import "resets.scss"

@font-face
    font-family: "lato"
    src: url("../fonts/Lato-Regular.ttf")
@font-face
    font-family: "AvenirR"
    src: url("../fonts/ofont.ru_Avenir Next.ttf")

$accent: #01996D
$grey: #424242
.container
    max-width: 1140px
    margin: 0 auto

.d-flex
    display: flex
    flex-direction: row
    align-items: center

.navbar
    &__text
        color: $grey
        font-size: 16px
        font-family: "lato"
        margin-right: 20px
.btn
    width: 227px
    height: 65px
    color: white
    background-color: $accent
    font-family: "lato"
    font-size: 20px
    border: none
    border-radius: 4px

.btn-primary
    width: 157px
    height: 45px
    color: white
    background-color: $accent
    font-family: "lato"
    font-size: 16px
    border: none
    border-radius: 4px

.btn-secondary
    width: 200px
    height: 55px
    color: white
    background-color: $accent
    font-family: "lato"
    font-size: 16px
    border: none
    border-radius: 4px
    
.modal-footer
    display: flex
    flex-direction: row
    justify-content: space-around

.modal-forms
    margin-bottom: 30px
    &:last-child
        margin-bottom: 0px
    color: $grey
    font-size: 16px
    font-family: "lato"
.main-section
    min-height: 700px
    &__content-container
        height: 700px
        background: url("../img/bg.png.png") center
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__title
        font-size: 60px
        font-family: Georgia, 'Times New Roman', Times, serif
        color: $accent
        font-weight: bold
        padding-top: 225px
        margin-bottom: 30px
    &__text
        font-size: 20px
        font-family: "lato"
        width: 420px
        line-height: 25px
        margin-bottom: 18px
    &__btn
        margin-bottom: 300px

.second-section
    min-height: 1500px
    &__content-container
        padding-top: 160px

.title-box
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 82px
    &__right-wrapper
        width: 500px
    &__first-text
        font-family: "lato"
        color: $grey
        font-size: 20px
        margin-bottom: 20px
    &__title
        font-family: Georgia, 'Times New Roman', Times, serif
        color: $accent
        font-weight: bold
        font-size: 48px
    &__second-text
        font-family: "lato"
        color: $grey
        font-size: 18px
        line-height: 24px

.steps-box
    display: flex
    flex-direction: row
    justify-content: space-between
    &__second-step
        position: relative
        top: 250px
    &__third-step
        position: relative
        top: 100px
.first-step
    width: 330px
    &__title
        position: relative
        top: -47px
        left: 110px
    &__text
        width: 382px

.second-step
    width: 330px
    &__title
        position: relative
        top: -47px
        left: 70px
    &__text
        width: 382px

.third-step
    width: 330px
    &__title
        position: relative
        top: -47px
        left: 130px
    &__text
        width: 382px

.step__num
    font-family: Georgia, 'Times New Roman', Times, serif
    font-size: 150px
    color: rgba(1, 153, 109, 0.2)

.step__title
    color: black
    font-size: 30px
    font-family: Georgia, 'Times New Roman', Times, serif

.step__text
    color: $grey
    font-size: 18px
    font-family: "lato"
    line-height: 24px
    margin-bottom: 60px

.step__img
    width: 330px
    height: 492px
    border-radius: 12px

.third-section
    background-color: #245852
    &__content-container
        padding-top: 250px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    &__title
        font-size: 48px
        font-family: Georgia, 'Times New Roman', Times, serif
        line-height: 60px
        color: white
        margin-bottom: 32px
    &__text
        font-size: 25px
        font-family: "lato"
        color: white
        margin-bottom: 56px
    &__left-wrapper
        margin-bottom: 176px
    &__right-wrapper
        margin-bottom: 176px
    &__video
        width: 650px
        height: 414px

.four-section
    &__content-container
        padding-top: 120px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
    &__img
        position: relative
        left: 20px
        width: 530px
        height: 470px
        border-radius: 19px
    &__right-wrapper
        width: 500px
    &__title
        color: $grey
        font-size: 25px
        font-family: "lato"
        margin-bottom: 20px
    &__second-title
        color: $accent
        font-size: 50px
        font-family: Georgia, 'Times New Roman', Times, serif
        font-weight: bold
        line-height: 53px
        margin-bottom: 20px
    &__text
        color: $grey
        font-size: 20px
        font-family: "lato"
        margin-bottom: 40px
        line-height: 28px

.avatar-box
    width: 296px
    height: 314px
    background-color: white
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    box-shadow: 1px 3px 20px #A5A5A5
    position: relative
    top: -200px
    &__title
        padding-top: 48px
        margin-bottom: 8px
        font-size: 14px
        font-family: "lato"
    &__line
        background-color: black
        height: 1px
        width: 110px
        margin-bottom: 14px
    &__img
        margin-bottom: 10px
    &__name
        font-family: Georgia, 'Times New Roman', Times, serif
        color: black
        font-size: 11px
        margin-bottom: 20px
    &__second-title
        font-size: 16px
        font-family: Georgia, 'Times New Roman', Times, serif
        font-weight: bold
        margin-bottom: 16px
    &__list-item
        font-family: Georgia, 'Times New Roman', Times, serif
        text-align: left
        list-style-type: disc
        margin-bottom: 16px
        &:last-child
            margin-bottom: 0px

.footer
    background-color: #245852
    color: white
    &__title
        font-size: 40px
        padding-top: 95px
        margin-bottom: 64px
        font-family: "AvenirR"
    &__text
        font-size: 25px
        font-family: "lato"
        margin-bottom: 60px
        &:last-child
                padding-bottom: 40px

@media (max-width: 1199px)
    .container
        width: 960px
    .main-section
        &__title
            font-size: 54px
        &__text
            font-size: 18px
    .btn
        width: 200px;
        height: 55px;
        font-size: 18px;
    .title-box
        &__title
            font-size: 40px
        &__left-wrapper
            width: 460px
        &__right-wrapper
            width: 400px
    .step__num
        font-size: 120px
    .step__title
        top: -39px
        left: 70px
        font-size: 24px
    .step__text
        font-size: 16px
        margin-bottom: 50px
        width: 280px
    .step__img
        width: 290px
        height: 432px
    .third-section
        &__content-container
            padding-top: 150px
        &__title
            font-size: 40px
        &__video
            width: 500px
            height: 410px
        &__left-wrapper
            margin-bottom: 126px
        &__text
            font-size: 24px
    .four-section
        &__img
            width: 450px
            height: 400px
        &__right-wrapper
            width: 400px
        &__second-title
            font-size: 48px
        &__text
            fz24px
    .avatar-box
        top: -150px
        width: 270px
        height: 290px
        &__title
            padding-top: 36px

@media (max-width: 991px)
    .container
        width: 720px
    .main-section
        min-height: 547px
        &__title
            font-size: 42px
        &__text
            font-size: 16px
            width: 380px
            margin-bottom: 30px
    .title-box
        &__title
            font-size: 34px
        &__second-text
            font-size: 16px
    .steps-box
        flex-direction: column
        &__second-step
            top: -350px
            left: 400px
        &__third-step
            top: -600px
    .step__text
        width: 320px
    .third-section
        position: relative
        top: -400px
        &__title
            font-size: 36px
        &__text
            font-size: 20px
        &__video
            width: 350px
            height: 250px
    .four-section
        position: relative
        top: -370px
        &__img
            width: 400px
            height: 350px
        &__right-wrapper
            position: relative
            top: 300px
            text-align: right
        &__second-title
            font-size: 44px
        &__text
            font-size: 18px
            margin-bottom: 30px
    .avatar-box
        width: 230px
        height: 250px
        &__title
            padding-top: 24px
        &__list-item
            font-size: 14px
        &__name
            margin-bottom: 16px

@media (max-width: 767px)
    .container
        width: 540px
    .btn
        width: 170px
        height: 45px
        font-size: 16px
    .main-section
        min-height: 500px
        &__content-container
            height: 400px
        &__title
            padding-top: 80px
            font-size: 34px
            margin-bottom: 20px
        &__text
            font-size: 16px
            width: 240px
            margin-bottom: 20px
    .title-box
        position: relative
        top: -100px
        flex-direction: column
        text-align: center
        &__title
            margin-bottom: 40px
    .steps-box
        align-items: center
        position: relative
        top: -100px
        text-align: center
        &__first-step
            width: 400px
        &__second-step
            width: 400px
            top: 0px
            left: 0px
        &__third-step
            width: 400px
            top: 0px
            left: 0px
    .step__img
        display: none /* удаляет картинку */
    .step__num
        margin-bottom: 20px
    .step__text
        width: 400px
    .step__title
        top: 0px
        left: 0px
        margin-bottom: 30px
    .third-section
        top: 0px
        &__content-container
            padding-top: 130px
            flex-direction: column
            text-align: center
        &__text
            font-size: 16px
            margin-bottom: 40px
        &__left-wrapper
            margin-bottom: 50px
    .four-section
        &__content-container
            display: flex
            flex-direction: column
            align-items: center
            padding-top: 0px
            position: relative
            top: 600px
        &__right-wrapper
            top: -200px
            display: flex
            flex-direction: column
            align-items: center
        &__img
            display: none
        &__title
            font-size: 20px
            text-align: center
            position: relative
            top: -240px
        &__second-title
            font-size: 32px
            line-height: 34px
            text-align: center
            position: relative
            top: -240px
        &__text
            font-size: 16px
            text-align: center
            position: relative
            top: 70px
        &__avatar-box
            top: -40px
        &__btn
            position: relative
            top: 80px
    .br
        display: none
    .footer
        position: relative
        top: 180px
        &__content-container
            text-align: center
        &__text
            font-size: 20px
            margin-bottom: 30px
        &__title
            padding-top: 70px
            margin-bottom: 40px

@media (max-width: 575px)
    .container
        width: 100%